body {
  font-family: "PT Sans", sans-serif;

  text-align: center;
  color: #000;
}
.menu > li {
  border: 1px solid tomato;
}
.button {
  color: chocolate;
  border-color: black;
}
.button:hover {
  background-color: red;
  border-color: chartreuse;
  border-radius: 25%;
}
